
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', sans-serif;
}

html {
  background: #000;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;

}

div {
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));
  color: black;
  font-weight: bolder;
  font-family: inherit;
}

:root {
  --default: #d0d7d8;
}


header {
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  }

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.nav-wrapper > .muric-items {
  margin: 50px;
}

.nav-wrapper >.log-setup {
  margin: 50px;
}

a {
  color: #fff;
  text-decoration: none;
  border-radius:  40px;
}
a {
  border: 1px solid whitesmoke;
  background-color: transparent;
  border-radius: 10px;
  width: 10rem;
  padding: 10px;
}

a:hover {
  background-image: linear-gradient(23deg, navy, teal);
  cursor: pointer;
}

/*
.log-setup a {
  margin: 10px;
}

.muric-items a {
  margin: 10px;
}
*/

.intro-sec {
  border: none;
  border-radius: 10px;
  color: #000;
  /*background-image: repeating-linear-gradient(32deg, #372856, #cedfd3,#837b92, #a2e9b7);
  background-color: black;
  background-image: url('hostel2.jpg');
  background-image: linear-gradient(23deg, gray, #fff);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  background-size: cover;*/
  
  height: 80vh;
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));
  margin: 0;
}

#book-box input {
  border-radius: 40px;
  padding: 20px;
  width: 20rem;

}

#book-box input:hover {
  background-image: linear-gradient(23deg, navy, teal);
  cursor: pointer;
}

#book-box {
  display: flex;
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-stretch: expanded;
  text-decoration: #000;
}

.home-explain {
  display: flex;
  background-image: inherit;
  justify-content: center;
  font-size: 36px;
  margin: 10px;
}

.root-container {
  background-color: black;
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));
  padding: 20px;
  margin:20px 40px;
  display: flex;
  flex-flow: column;
}

#book-box {
  align-self: center;
}


.cards {
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));

}

.card {
  background-image: linear-gradient(23deg, rgb(233, 144, 144), rgb(207, 184, 54));
  
}
.amenity-one-cont {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.internet-amenity {
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-image: url('hostel3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 26px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.internet-amenity > h3 {
  background-image: linear-gradient(32deg, #dedeed, #addad2);
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);

  /*background-image: linear-gradient(32deg, #def0db, #f0f3d2, #fab1de);*/
  height: 50px;
  border-radius: 10px;
}

.internet-amenity > p {
  display: grid;
  align-self: flex-end;
  font-size: 36px;
  color: #000;
  font-weight: bolder;
  /*background-image: linear-gradient(32deg, #def0db, #f0f3d2, #fab1de);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  border-radius: 10px;
}

.afford-amenity {
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-image: url("hostel4.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  font-size: 16px;
  color: #000;
  box-shadow: 8px 8px 8px 0 whitesmoke;
  grid-auto-rows: 1fr 1fr 1fr;
border: 1px solid #000;
border: none;
margin: 10px;
border-radius: 10px;
padding: 10px;

}

.afford-amenity > h3 {
  /*background-image: linear-gradient(32deg, #def0db, #f0f3d2, #fab1de);*/
  background-color: black;
  font: 36px bold sans-serif;
  height: 50px;
  border-radius: 10px;
}

.afford-amenity > p {
  /*background-image: linear-gradient(32deg, #def0db, #f0f3d2, #fab1de);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  font: 36px bold sans-serif;
  display: grid;
  align-self: flex-end;
  height: 50px;
  border-radius: 10px;
}

.amenity-two-cont {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.water-amenity {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
   box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.dstv-amenity {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  box-shadow: 8px 8px 8px 0 whitesmoke;
  background-color: black;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.amenity-three-cont {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.street-amenity {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.manage-box {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #32332f;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.amenity-three-cont {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.four-one-box {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  background-color: black;
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.four-one-box {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

.review-us {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr 1fr 1fr;
}

footer {
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 20px;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  box-shadow: 8px 8px 8px 0 whitesmoke;
  color: #000;
  font-size: 16px;
  display: grid;
  justify-items: center;
}

.contacts {
  justify-self: flex-end;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);

  padding: 2.5rem;
  border-radius: 10px;
}
.about-us > input {
  height: 2.5rem;
  width: 10rem;
  border-radius: 15px;
}

form {
  display: flex;
  border: 1px solid #000;
  /*background-image: linear-gradient(32deg, #0a0514, #86af92);*/
  background-color: black;
  background-image: linear-gradient(23deg, gray, #fff);
  color: #000;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about-us {
  padding: 10px;
  background-image: linear-gradient(23deg, gray, #fff);

}
.about-book>a {
  text-align: center;

}

#book-button {
  background: #000;
  color: #fff;
  font-weight: bolder;
}
.about-book>a:hover {
  background-image: linear-gradient(23deg, #f00, purple);
  text-decoration: underline;
}

.about-book {
  display: flex;
  background-image: linear-gradient(23deg, gray, white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 40px;
}
textarea {
  border-radius: 10px;
}
#submit-email {
  border-radius: 10px;
  text-align: center;
  height: 35px;
  width: 70%;
}
#e-more {
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  height: 35px;
  width: 70%;
}

#book  {
  border-radius: 10px;
  text-align: center;
  color: #000;
  font-weight: bolder;
  height: 35px;
  width: 70%; 
}

#book:hover {
  background-image: linear-gradient(23deg, red, purple);
  cursor: pointer;
}

#submit-email:hover {
  background-image: linear-gradient(23deg, red, purple);
  cursor: pointer;
}

